body{
    background-color: rgb(0, 0, 0);
    margin: 0;
    height: 100vh;
    padding-top: 70px;
    
}

.header-color {
  background: linear-gradient(70deg, #441d64, #801276, #622b6d, #6f0f7c); 
  position: fixed;   /* Hace el header fijo */
  top: 0;            /* Lo fija en la parte superior */
  left: 0;
  width: 100%;       /* Ocupa todo el ancho */
  z-index: 1000;    /* Lo mantiene por encima del contenido */  
}


.logo_head {
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border-radius: 50%;
  transition: 0.3s ease-in;
}

.logo_head img {
  width: 100%;   /* todo el ancho del contenedor */
  height: auto;  /* mantiene proporción */
}
.logo_head:hover{
  filter: drop-shadow(0 0 10px #5000e4)
          drop-shadow(0 0 20px #d614c6)
          drop-shadow(0 0 10px #dddbe0);
  transform: scale3d(1.05);
}

.vincule{
  cursor: pointer;
  color: white;
  transition: 0.3s ease;
  text-decoration: none;
}


.vincule:hover {
    color: #ffffff;
    filter: drop-shadow(0 0 6px #c23cff)
            drop-shadow(0 0 12px #4512bd)
            drop-shadow(0 0 20px #510464);
}
main{
    margin-top: 150px;
}

.tittle{
    font-size: 60px;
    font-weight: 900;
    text-align: center;
    margin-top: 90px;
    background: linear-gradient(90deg, #ff007f, #cf34df, #7c4dea, #00c4ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    text-shadow: 0 0 10px rgba(255, 0, 255, 0.2);
}

.card{
    background-color: rgb(44, 43, 44);
    transition: 0.5s ease-in-out;
    border-radius: 15px;
    border-color: #911096;
}
.card:hover{
    box-shadow: #8e07af 0px 0px 10px,
                #a76da2 0px 0px 20px,
                #dddbe0 0px 0px 10px;
    transform: scale(1.05);
}

/* Tamaño de la barra de desplazamiento */
::-webkit-scrollbar {
    width: 10px;          /* ancho vertical */
    height: 10px;         /* alto horizontal (si existiera) */
}


::-webkit-scrollbar-track {
    background: #1a1a1a;  /* color de fondo */
    border-radius: 15px;
}

/* Barra que se mueve */
::-webkit-scrollbar-thumb {
    background: #6c1b9c;  /* color principal */
    border-radius: 10px;
     /* borde para hacerlo más elegante */
}

/* Efecto hover */
::-webkit-scrollbar-thumb:hover {
    background: #c13ad3; 
}

.link_line{
    text-decoration: none;
    color: inherit;
    display: block;
}

.first_img{
    height: 400px;
    width: 1100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
}

.tittlecos{
    font-size: 60px;
    font-weight: 900;
    background: linear-gradient(90deg, #ff007f, #cf34df, #7c4dea, #00c4ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 10px rgba(255, 0, 255, 0.2);
}